.home-paper {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  height: 80vh;
  width: 80vw;
}

.home-menu-item {
  color: white !important;
}

#home-menu {
  display: flex;
  justify-content: center;
  background-color: #555555;
}

.home-paper-content {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-page {
  background-color: rgb(158, 158, 148);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
